# OpenAI
OPENAI_API_KEY="YOUR_OPENAI_API_KEY"
# Opik
OPIK_API_KEY="YOUR_OPIK_API_KEY"
OPIK_PROJECT_NAME="converge"
OPIK_WORKSPACE="YOUR_WORKSPACE"
OPIK_URL_OVERRIDE="https://www.comet.com/opik/api"
# Optional controls
OPIK_TRACK_DISABLE="false"
